body{
    background-color: hsl(0, 0%, 95%);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: hsl(223, 100%, 64%);
}
form{
    background-color: white;
    height: 330px;
    max-width: 390px;
    text-align: center;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
    transition: box-shadow 0.25s;
}

#textBox{
    width: 50%;
    border: 2px solid black;
    text-align: center;
    font-size: 2em;
    margin-bottom: 15px;
    border-radius: 4px;
}

label{
    font-size: 1.5em;
    font-weight: bold;
}
button{
    padding: 10px 15px;
    margin-top: 15px;
    font-size: 1.5em;
    background-color: hsla(180, 100%, 50%, 0.489);
    border: none;
    border-radius: 5px;
    transition: background-color 0.25s;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 2px;
}
button:hover{
    background-color: aqua;
}
#result{
    font-size: 1.7em;
    font-weight: bold;
}